<!DOCTYPE html>
<html>
<head>
<div class="header">
  <title>Hogwarts Enrolement</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  </div>
</head>
<body>
<!-- <nav> -->
  <ul>
    <li>
    <section id="blocks">
    <div class="monsters">
      <a href="/hogwarts">Monsters</a>
      </div>
    </li>
    <li>
    <div class="new monsters">
      <a href="/hogwarts/new">New Monster</a>
      </div>
      </section>
    </li>
  </ul>
<!-- </nav> -->

<%=yield %>
</body>
</html>