<h1> Sign Up Your Little Darling </h1>

<p>Enrol your monster to change it into the wizard/witch of the year!</p>

<form action="/hogwarts" method= "post"> 

<label>First Name: <input type= "text" name= "first_name"></label>

<label>Last Name: <input type="text" name="last_name"></label>

<label>Age: <input type="number" name="age"></label>

<label> Select your House: <select name="house_id">
<option value="1">Gryffindor</option>
<option value="2">Ravenclaw</option>
<option value="3">Hufflepuff</option>
<option value="4">Slytherin</option>
</select>
</label>

<input type="Submit" value="Enter Monster">

</form>